env/**
env/
out/**
out/
in/
in/**
nvm/
nvm/**
log/
log/**
data/**
data/
reference/
reference/**
code_condette/out/**
code_condette/out/
code_condette/random_start/**
code_condette/random_start/
*.pyc
**/__pycache__/
__pycache__
